/* Variables globales */
:root {
  --primary-color: #333;
  --secondary-color: #f8f8f8;
  --highlight-color: #ff6347;
  --text-color: #555;
  --background-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --font-family: 'Arial', sans-serif;
  --border-color: #ddd;
  --font-weight-bold: 500;
  --star-color: #ffd700;
  --cta-button-color: #ff6600;
  --cta-button-hover-color: #e55b00;
  --success-color: #8fd156;
}

/* Reset y estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-size: 1rem;
}

/* Animaciones */
@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

/* Fullscreen */
html, body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Flexbox Utility */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

